.logIn {

  grid-template-columns: auto;
  margin: 3rem;

  .field {
    padding-left: 3rem;
    padding-right: 3rem;
  }

}

.userTitle {
    margin-left: 3rem;
}
a {
  margin-left: 1rem;

}
.flash{
  margin-left: 3rem;
}
