.logIn {

  grid-template-columns: auto;
  margin: 3rem;
  max-width: 1000px;
  margin:auto;
  display: block;


  .field {
    padding-left: 3rem;
    padding-right: 3rem;
  }

}

.userTitle {
    margin-left: 3rem;
}
a {
  margin-left: 1rem;

}
.flash{
  margin-left: 3rem;
}
.userTitle {
  margin: auto;
  display: run-in;
  padding-left: 35rem;
}
.devisePage {
max-width: 2000px;
padding-bottom: 3rem;
}
.userTest {
  display: block;
  margin:auto;
  text-align: center;
  border-style: solid;
  border-color: red;
  width: 40rem;
}
