/* .ruby {
  border-style: solid;
  border-color: red;
}
.jsxblue {
  border-style: solid;
  border-color: blue;
}
.jsxYellow{
  border-style: solid;
  border-color: yellow;
}
.jsxPurple{
  border-style: solid;
  border-color: purple;
}
.brown{
  border-style: solid;
  border-color: brown;
} */
