.team-wrapper{
  margin:auto;
  display: block;
  width: 300px;
  text-align: center;
  }
.testbutton {
  background-color: #white;
  color: 008CBA;
  border-radius: solid
  border-
}
.title{
  margin:auto;
  display: block;
  width: 600px;
  text-align: center;
}
