.termsForm {
  margin: 1rem;
  column-count: 3;
  column-width: auto;

}
.termTile {
  font-size: medium;
}

label {
  display: inline;
}
input.type {
   margin-left: 3rem;
 }
 .regular-checkbox {
 	-webkit-appearance: none;
 	background-color: #fafafa;
 	border: 1px solid #cacece;
 	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
 	padding: 9px;
 	border-radius: 3px;
 	display: inline-block;
 	position: relative;
 }
