.termsForm {
  margin: 1rem;
  column-count: 3;
  column-width: auto;

}
.termTile {
  font-size: medium;
}

label {
  display: inline;
  font-size: 1.5rem;

}
input.type {
   margin-left: 3rem;
 }
.TermTile {
  min-width: 350px;
}
.formName{
  margin-left: 1rem;
}
